In [20]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv("./OLID_2019/olid-training-v1.0.tsv", sep="\t")
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [22]:
## information we need to know from Config file
dataset_id = 1
label_columns = ["subtask_a", "subtask_b", "subtask_c"]
source_id = 1

Create table ***Schema***

In [23]:
# Create a DataFrame with the specified columns
data = {
    "dataset_id": [dataset_id] * len(label_columns),  # Repeat dataset_id for each label column
    "label_name": label_columns
}

table_schema = pd.DataFrame(data)

In [36]:
type(data)

dict

In [24]:
table_schema

   dataset_id label_name
0           1  subtask_a
1           1  subtask_b
2           1  subtask_c

In [25]:
df["dataset_id"] = dataset_id
df.rename(columns={'id': 'text_id',
                   'tweet':'text'
                   }, inplace=True)

In [26]:
df

,text_id,text,subtask_a,subtask_b,subtask_c,dataset_id
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN,1
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND,1
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN,1
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN,1
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN,1
...,...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND,1
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN,1
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH,1
13238,27429,@USER Pussy,OFF,UNT,NaN,1
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN,1

Create Table ***text***

In [31]:
table_text = df[['dataset_id', 'text_id', 'text']].drop_duplicates()

In [32]:
table_text['source_id'] = source_id

In [33]:
table_text

,dataset_id,text_id,text,source_id
0,1,86426,@USER She should ask a few native Americans wh...,1
1,1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,1
2,1,16820,Amazon is investigating Chinese employees who ...,1
3,1,62688,"@USER Someone should'veTaken"" this piece of sh...",1
4,1,43605,@USER @USER Obama wanted liberals &amp; illega...,1
...,...,...,...,...
13235,1,95338,@USER Sometimes I get strong vibes from people...,1
13236,1,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,1
13237,1,82921,@USER And why report this garbage. We don't g...,1
13238,1,27429,@USER Pussy,1
13239,1,46552,#Spanishrevenge vs. #justice #HumanRights and ...,1

Create Table ***label***

In [44]:
table_label = pd.DataFrame(columns = ['dataset_id', 'text_id', 'label_name', 'label_value'])

In [45]:
table_label

Empty DataFrame
Columns: [dataset_id, text_id, label_name, label_value]
Index: []

In [46]:
for col in label_columns:
    label_value_pair = {
    'dataset_id': df['dataset_id'].values,
    'text_id': df['text_id'].values,
    'label_name': [col] * len(df),
    'label_value': df[col].values
    }
    temp_df =  pd.DataFrame(label_value_pair)
    table_label = pd.concat([table_label, temp_df], axis=0, ignore_index=True)

In [47]:
table_label

      dataset_id text_id label_name label_value
0              1   86426  subtask_a         OFF
1              1   90194  subtask_a         OFF
2              1   16820  subtask_a         NOT
3              1   62688  subtask_a         OFF
4              1   43605  subtask_a         NOT
...          ...     ...        ...         ...
39715          1   95338  subtask_c         IND
39716          1   67210  subtask_c         NaN
39717          1   82921  subtask_c         OTH
39718          1   27429  subtask_c         NaN
39719          1   46552  subtask_c         NaN

[39720 rows x 4 columns]