In [133]:
import pandas as pd
import numpy as np
import psycopg2
from config import load_config

In [134]:
def insert_many_vendors(dbtable_name, col_list, value_list):
    """ Insert multiple vendors into the vendors table  """
    cols = ','.join(col_list)
    sql = "INSERT INTO {0}({1}) VALUES ".format(dbtable_name, cols) + "(" + ",".join(["%s"] * len(col_list)) + ")"
    print(sql)
    config = load_config()
    rows = []

    try:
        with  psycopg2.connect(**config) as conn:
            with  conn.cursor() as cur:
                # execute the INSERT statement
                cur.executemany(sql, value_list)
                conn.commit()

    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        return rows

In [135]:
df = pd.read_csv("./OLID_2019/olid-training-v1.0.tsv", sep="\t")

In [136]:
df

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you’re drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN
...,...,...,...,...,...
13235,95338,@USER Sometimes I get strong vibes from people...,OFF,TIN,IND
13236,67210,Benidorm ✅ Creamfields ✅ Maga ✅ Not too sh...,NOT,NaN,NaN
13237,82921,@USER And why report this garbage. We don't g...,OFF,TIN,OTH
13238,27429,@USER Pussy,OFF,UNT,NaN
13239,46552,#Spanishrevenge vs. #justice #HumanRights and ...,NOT,NaN,NaN

In [141]:
insert_many_vendors("dataset", ["dataset_origin_name", "dataset_name"], [('OLID','OLID')])

INSERT INTO dataset(dataset_origin_name,dataset_name) VALUES (%s,%s)
FEHLER:  doppelter Schlüsselwert verletzt Unique-Constraint »dataset_dataset_origin_name_key«
DETAIL:  Schlüssel »(dataset_origin_name)=(OLID)« existiert bereits.

[]

In [153]:
conn = psycopg2.connect(**config)
cur = conn.cursor()
cur.execute("SELECT dataset_id FROM  DATASET "
            "WHERE dataset_origin_name = 'OLID';")
res = cur.fetchall()

[(1,)]