In [1]:
import sqlite3
# connect
import myGlobals
conn = myGlobals.connect()

In [39]:
# create table
c = conn.cursor()
c.execute('''CREATE TABLE IF NOT EXISTS dataset (
datasetID INTEGER PRIMARY KEY,
datasetOriginalName TEXT NOT NULL UNIQUE,
datasetName TEXT NOT NULL UNIQUE,
originalPaper TEXT)''')

In [1]:
# insert a row of data
# need to be able to deal with error message
try:
    c.execute('''INSERT INTO dataset (datasetOriginalName, datasetName, originalPaper) Values (
'OLID','OLID','examplePaper'
)''')
except Exception as e:
    print("Insertion failed:", e)

Insertion failed: name 'c' is not defined

In [42]:
# save the changes and close
conn.commit()
conn.close()

ProgrammingError: Cannot operate on a closed database.

In [32]:
conn = sqlite3.connect(path)
c = conn.cursor()
c.execute('''SELECT * FROM dataset''')
# print the selection
rows = c.fetchall()
for row in rows:
    print(row)

(1, 'OLID', 'OLID', 'examplePaper')